.summary-box{
    border-radius: 10px;
    margin-top: 50px;
    position: right;
    width: 280px;
    height: 300px;
    padding: 15px;
    text-align: right;
}
.summary-title{
    text-align: center;
    color: green;
    margin-bottom: 15px;
}
h5{
    color: gray;
}
h6{
    color: gray;
}